<div class="login-form-container">
  <form class="login-form" method="get" action="#">
    <h1 class="form-header">Login</h1>
    <div class="form-content">
      <input type="text" name="username" placeholder="Username"/>
      <input type="password" name="password" placeholder="Password"/>
      <div class="forgot-pass-link">Forgot Password?</div>
      <button type="submit" class="login-button">Login</button>
    </div>
    <div class="form-footer">
      Not a member?<span>Signup</span>
    </div>
  </form>
</div>
