*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
  background: linear-gradient(#d287b8, #00eaff);
  font-family: sans-serif;
  line-height: 1.25;
  font-size: 16px;
}
.container{
  width: 1100px;
  margin: 0 auto;
}
.login-form-container{
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.login-form{
  width: 350px;
  border: 1px solid red;
  border-radius: 10px;
  background-color: white;
  padding: 20px 0;
}
.form-header{
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid lightgray;
}
.form-content{
  padding: 10px 20px 0;
}
input{
  width: 100%;
  margin: 10px 0;
  padding: 2px 5px;
  border: none;
  border-bottom: 2px solid lightgray;
  font-size: 16px;
}
.forgot-pass-link{
  color: gray;
  padding: 10px 2px;
}
.login-button{
  width: 100%;
  background-color: #07c2ec;
  color: white;
  font-size: 18px;
  padding: 5px 0;
  border-radius: 20px;
  margin: 5px 0;
  border: none;
}
.form-footer{
  text-align: center;
  margin-top: 10px;
}
.form-footer span{
  color: #0dcaf0;
}

.register-form-container{
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.register-form{
  width: 500px;
  border: 1px solid red;
  border-radius: 10px;
  background-color: white;
  padding: 20px 0;
}
